@import url('https://fonts.googleapis.com/css?family=Muli:400,700');


.bg-dark {
  background-color: rgba(0, 0, 0, 0) !important;
}

.bg-primary {
  background: url('img/pattern.png') !important;
  height: 860px;
}

.fixed-top {
    padding-left: 40px;
    padding-right: 50px;
}

.navbar-dark .navbar-nav .nav-link {
    transition: all 0.4s ease-in-out;
}

.text-center {
    position: sticky;
    top: 45%;
}

h1 {
  font-family: 'Muli', cursive;
  font-weight: 700;
}

p {
  font-family: 'Muli', cursive;
}

 .lead {
   opacity: 0.7;
 }
